
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.body{
  background-color: aqua;
}





.container{
  background-color: antiquewhite;
  border: 2px solid burlywood;
  padding: 24px;
  margin: 20px;
  width: 533px;
  border-radius: 23px;
  border-color: red;
  box-sizing: border-box;
}



